*{
    padding: 0px ;
    margin: 0px;
}


/* Header  */



#mainhead{
    display: flex;
    height: 43px;
    font-family: "Baloo Chettan 2", sans-serif;
    font-size: 14px;
    background-image: linear-gradient(300deg, #d4602b  30%, #344094 0%);
}
#head1{

    color: white;
    /* background-color: #344094; */
    display: flex;
    width: 63%;
    padding: 13px 111px;
    cursor: pointer;
}
#phone{
     display: flex;
     margin: 0px 33px;
}
#num{
    margin-left: 14px;
}
#email{
display: flex;

}
#h2s{
    margin-left: 14px;
}

#head2{
    display: flex;
    /* background-color: #d4602b; */
    width: 37%;
    align-items: center;
    justify-content: center;

}
#logos{
    display: flex;
    padding-left: 2px;
}
.clients{
    color: #344094;
    display: flex;
    padding: 2px 13px;
}

.clients i{
    transition: all 0.3s ease-in-out;
}
.clients i:hover{
    color: white;
}

/* Home Section  */
#home{
    position: relative;
    display: flex;
    font-family: "Baloo Chettan 2", sans-serif;
    font-size: 14px;
    top: 0px;
    left: 0px;
    
    height: 100%;
    width: 100%;
    

}

#home::before{
    content: "";
    position: absolute;
    background: url(../IMG/bg.h2s.jpg) no-repeat center center / cover;
    height: 390px;
    width: 100%;
    z-index: -1;
    
    border-radius: 0 0 50% 50% / 0 0 12% 12%;
    transform: scale(1);



}


#logomain{
    margin: 16px 143px;
}
#logomain img{
    height: 65px;
    cursor: pointer;
}
#navbar{
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-size: 14px;
    font-style: normal;
display: flex;
margin: 0px 3px;
align-items: center;
justify-content: center;
margin-left:  159px;

}
#navul{display: flex;

}
#navbar ul li{
    list-style: none;

    
}
#navbar ul li a{
    text-decoration: none;
    display: block;
    padding: 0px 24px;
    color: white;
    transition: color 0.7s  ;
   
    
}
#navbar  li a:hover,#navbar  li a.active{
    
    color: #d15f2b;
    
}
 #btn1{
    margin: 26px 131px;

    
 }
 .btn{
    color: white;
    font-family: "Baloo Chettan 2", sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    cursor: pointer;
    padding: 11px 40px;
    border: 1px solid white;
    border-radius: 22px;
    background-color: transparent;
    transition: all 0.5s ease-in-out ;
}
.btn:hover{
    color: white;
    background-color: #d15f2b;
    border: none;
}

.section1{

    padding: 85px 0px 0px 0px;
    
    display: flex;
    height: 200px;
    
    justify-content: center;
}


/* Contact-Form  */
#section2{
    margin-top: 144px;
    width: 50%;
    height: 650px;
 
    display: flex;
}
#section2main{
    display: flex;
}
#h5line2{
    
    width: 69%;
    margin-left: 144px;
}
#bgline2{
    
        margin-top: 16px;
}


#button3{
    display: flex;
}
.box2 .active{
    background-color: #d15f2b;
}


#form{
    color:#344094 ;
    font-family: "baloo chettan 2";
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    
    margin-top: -467px;
    margin-left: 586px;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 125%;
    border: none;
    box-shadow: 0px 5px 20px 4px rgba(0, 0, 0, 0.1);
    height: 500px;
    border-radius: 3px;
}
#form1{
    
    margin-left: 0px;
    margin-top: -250px;
}
#form1 label{
    display: block;
}
#form2{
    margin-left: 11px;
    margin-top: -250px;
}
#form2 label{
    display: block;
}
#form3{
    margin-top: 120px;
    margin-left: -565px;
}
#form3 .textarea{
    border-radius: 3px;
    height: 8%;
    width: 190%;
    border: 2px solid #e4e1e1;
}
.input-uti{
    border:2px solid #e4e1e1;
   border-radius: 3px;
    margin: 16px 0px;
    height: 50px;
    width: 274px;
}

/* Google-maps */
.section3{
   
    height: 450px;
}
iframe{
    width: 100%;
}








/* Footer  */
#section7{
    background-color: #2f3b50;
    width: 100%;
    height: 516px;
    display: flex;
}

.h2slogo-desc{
    width: 28%;
    padding: 100px 0px 0px 155px;
}
.h2slogo-desc img{
    width: 336px;
    
}


.bottom{
    background-image: linear-gradient(236deg, #d4602b 52%, #344094 0%);
    width: 100%;
    height: 55px;
}

.bottom-info{
  
    margin: 100px 16px;
    width: 255px;
    height: 310px;
    
}

.foot1{
    width: 50%;
left: 135px;
    position: relative;
    float: left;
}
.foot2{
    right: 82px;
    position: relative;
    float: right;

}














/* Paragraph  */

.para5{
    text-align: left;
    
    width: 78%;
   
    font-family: "baloo chettan 2";
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: white;
}

.para6{
    padding: 5px 0px;
    text-align: left;
    font-family: "baloo chettan 2";
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: white;
    transition: all 0.5s ease-in-out ;
    cursor: pointer;
}
.para6:hover{
    color: #d4602b;
}
.para6 i{
    color: #d4602b;
    margin: 0px 10px 0px 0px;
}

.para-foot1{
    padding: 14px 0px;
    
    font-family: "baloo chettan 2";
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: white;
    
}
.para-foot2{
    padding: 14px 0px;
    
    font-family: "baloo chettan 2";
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #3f2c30;
    
}


.parablue{
    font-family: "baloo chettan 2";
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    color: #8e8e8e;
    margin-top: 14px;
    padding: 2px 2px;
}







/* Heading  */


.heading-1{
    font-family: "kanit";
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    color: white;
}

.heading-5-bottom{
    color: #cd5e2c;
    font-family: "baloo chettan 2";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
}

.heading-5blue{
    font-family: "baloo chettan 2";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #344094;
}



.heading-1blue{
    font-family: "kanit";
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  color: #0a1931;
}
.heading-1blue span{

    color: #344094;
    background-image: linear-gradient(360deg,#d15f2b 26%, transparent 0%);
}



/* Button  */

.btn-bottom{
    width: 47px;
    margin: 35px 18px 0px 0px;
    height: 45px;
    justify-content: center;
   
    font-family: "Baloo Chettan 2", sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    border: none;
    cursor: pointer;
    padding: 3px 10px;
    border-radius: 45px;
    color: #0a1931;
    background-color: #d4602b;
    transition: all 0.5s ease-in-out;
}

.btn-bottom:hover{
    background-color: #344094;
    i{
        color: white;
    }
}


.form-btn{
    margin: 15px 0px 0px 0px;
}
.form-btn input{
    width: 185px;
    text-align: center;
    border: none;
    height: 46px;
    border-radius: 23px 0px 0px 23px;
}
.joint-btn{
    width: 70px;
    /* text-align: center; */
    border: none;
    height: 46px;
    border-radius: 0px 23px 23px 0px;
    margin: 0px 0px 0px -4px;
    color:  #0a1931;
    background-color:#d4602b ;
    transition: all 0.5s ease-in-out;
}
.joint-btn:hover{
    background-color: #344094;
    i{
        color: white;
}
}




/* 3-button  */

#button3 button{  
    color:  #0a1931;
    margin: 52px 17px;
           display: flex;
           height: 140px;
           width: 155px;
           box-shadow: 0px 1px 4px #bababa;
           font-family: "kanit";
           font-weight: 600;
           font-style: normal;
           font-size: 20px;
           align-items: center;
           justify-content: center;
           border-radius: 8px;
           border: none;
         transition: all 0.5s ease-out;
       }
.box1{
    padding-top: 67px;
    background: linear-gradient(to top, #d15f2b 50%,
    #fff 50% );
    background-size: 100% 200%;
    background-position: top;

}
.box1:hover{
    background-position: bottom;
    .btnlogo1 i{
        color: #344094 ;
       }
}
.box2{ 
    padding-top: 67px;
    background: linear-gradient(to top,  #344094 50%,
    #d15f2b 50% );
    color: white;
    background-size: 100% 200%;
    background-position: top;
    
    

}

.box2:hover{
   
    background-position: bottom;
    .btnlogo2 i{
        color: white ;
       }
    
  
}


.box3{ padding-top: 67px;
    background: linear-gradient(to top, #d15f2b 50%,
    #fff 50% );
    background-size: 100% 200%;
    background-position: top;

}
.box3:hover{
    background-position: bottom;
  .btnlogo3 i{
    color: #344094 ;
   }
}



.btnlogo1 i{
    color: #d15f2b;
    margin-right: -44px;
    display: flex;
    
  
    margin-top: -49px;
    align-items: center;
    justify-content: center;
   

}   

.btnlogo2 i{
    margin-right: -92px;
    display: flex;
    
    margin-top: -49px;
    align-items: center;
    justify-content: center;
    
}
.btnlogo3 i{
    color: #d15f2b;
    margin-right: -110px;
    display: flex;
    
    margin-top: -49px;
    align-items: center;
    justify-content: center;
    
}


/* Form-button  */

.btnblue2{
    margin-left: -296px;
    width: 87%;
    margin-top: 338px;
    color: white;
    font-family: "Baloo Chettan 2", sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    border: none;
    cursor: pointer;
    padding: 11px 40px;
    border-radius: 22px;
    background-color: #344094;
    transition: all 0.5s ease-in-out;
}

.btnblue2:hover{
    background-color: #d15f2b;
}









/* Elementor-divider */

.elementor-divider-blue{
    height: 0.1px;
    margin-top: -11px;
    width: 412px;
    background: #344094;
    display: block;
    margin-left: 10em;
}








