/* Css Reset  */

*{
    padding: 0px;
    margin: 0px;
}
html{
    scroll-behavior: smooth;
}
body{
    flex-wrap: wrap;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    
    font-style: normal;
}
/* Navbar Section  */

#logo{
margin: 0px 27px ;
}
#logo img{
    width: 55px;
    height: 55px;
    margin: 8px 4px;
}
#navbar{
    position: sticky;
    display: flex;
    top: 0px;
    align-items: center;
}

 
#navbar::before{
    content: "";
    background-color: black;
   position: absolute;
   height: 90%;
   width: 100%;
   z-index: -1;
   opacity: 0.4;
  top: 0px ;
  left: 0px;
} 
#navbar ul{


    display: flex;
    
}

#navbar ul li{
    list-style: none;
    font-size: 1rem;
    

}
#navbar ul li a{
    color: white;
    text-decoration: none;
    padding: 5px 19px ;
    display: block;
    border-radius: 3px ;
    margin: 35px 12px ;
}
#navbar ul li a:hover{
    color: black;
    background-color: white;
    
}

/* Home Section  */

#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
    height: 405px;
}
#home::before{
    content: "";
    background: url('../IMG/bg1.jpg') no-repeat center center/cover;
   position: absolute;
   height: 69%;
   width: 100%;
   z-index: -1;
   opacity: 0.89;
top: 0px;
left: 0px;
  
}
#home h1{
    color: white;
    text-align: center;


}
#home p{
    color: white;
    text-align: center;
    font-size: 1rem;
}

/* Services Section  */

#services{
    display: flex;
    margin: 45px 0px;
    
}

#services .box{

    border: 2px solid brown;
    padding: 11px;
    margin: -20px 19px;
    border-radius: 20px;
    background-color:#f1dcdc;
    margin-bottom: 20px;
}
#services .box img{
    height: 160px;
    display: block;
    margin: auto;
    
}

/* client section */


#client-section{
position: relative;
height: 344px;
}
#client-section::before{
content: "";
position: absolute;
background: url('../IMG/bg1.jpg');
width: 100%;
height: 100%;
z-index: -1;
opacity: 0.5;
}

#clients{
display: flex;
justify-content: center;
align-items: center;
}
#clients img{
    height: 124px;
}
.client-item{
    padding: 34px;
}


/* Contact Us  */

#contact{
    position: relative;
}
#contact::before{
    content: "";
    background: url('../IMG/cont.png');
    position: absolute;
    z-index: -1;
    opacity: 1.2;
    height: 100%;
    width: 100%;
}

#contact-box{
display: flex;
justify-content: center;
align-items: center;
padding-bottom: 34px;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.3rem;
    border-radius: 8px;
    font-size: 1.1rem;
}
#contact-box form{
    width: 40%;

}
#contact-box label{
    font-size: 1.3rem;
}




footer{
    background-color: black;
    color: white;
    padding: 3px 20px;
}

/* Utility Classes */
.h-primary{
    font-size: 3.8rem;
    padding: 10px;
}
.h-secondary{
    font-size: 2.5rem;
    padding: 10px;
}
.btn{
    padding: 6px 36px;
    border: 2px solid white;
    background-color: #966666;
    color: white;
    margin: 6px 0px;
    border-radius: 4px;
font-size: 1rem;
cursor: pointer;
}
.center{
    text-align: center;
}